{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/main.css'%}" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        <title>한서대 대동제 방명록</title>
    </head>
    <body>
        <!-- 밤배경 -->
        <canvas id="sky">
            <img id="moon" src="{% static 'img/moon.png' %}" alt="" />
        </canvas>

        <!-- 작은별, 별똥별 -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600" class="constellation">
            <circle id="star2" cx="100.4" cy="150.4" r="1.8" style="fill: #fadfaa; opacity: 0" />
        </svg>

        <!-- 큰별 생성 -->
        <!-- viewBox="x-min y-min width height""-->
        <svg xmlns="http://www.w3.org/2000/svg" id="horse" viewBox="60 180 300 250">
            {% comment %}
            <circle class="dots" style="fill: #fadfaa" cx="400" cy="170" r="1.2" />
            <circle class="dots" style="fill: #fadfaa" cx="159" cy="181" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="268" cy="180" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="359" cy="131" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="409" cy="93" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="378" cy="100" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="430" cy="119" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="465" cy="153" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="357" cy="247" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="417" cy="264" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="450" cy="303" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="460" cy="327" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="367" cy="368" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="355" cy="367" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="345" cy="326" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="332" cy="269" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="200" cy="251" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="144" cy="259" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="99" cy="309" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="92" cy="363" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="15" cy="339" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="24" cy="348" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="43" cy="341" r="2.2" />
            <circle class="dots" style="fill: #fadfaa" cx="76" cy="297" r="2.2" />
            {% endcomment %}
            <circle class="dots" style="fill: #fadfaa" cx="50" cy="0" r="2.2" />
        </svg>

        <!--상단 작은별-->
        <div id="starsContainer">
            <img src="{% static 'img/stars.png' %}" alt="" />
        </div>

        <!-- COMMENT 타이틀 -->
        <div class="titleContainer" class="gmarketSansB">
            <div class="title flexSpaceBetween">
                <div><hr /></div>
                <div>
                    <div class="circle">COMMENT</div>
                </div>
                <div><hr /></div>
            </div>
        </div>

        <!-- 방명록 -->
        <div id="commentsContainer">
            {% for comment in comments %}
            <div class="commentBox">
                <div class="info">
                    <div class="name">{{comment.nickname}}</div>
                    <div class="date">{{comment.created|date:'Y.m.d H:i'}}</div>
                </div>
                <div class="comment">{{comment.comment}}</div>
            </div>
            {% endfor %}
        </div>

        <!-- 방명록 작성 -->
        <div class="inputContainer gmarketSansB">
            <form class="flexSpaceBetween" action="{% url 'comments' %}" method="POST">
                {% csrf_token %}
                <input class="nameInput" type="text" name="nickname" placeholder="닉네임" required />
                <div class="inputBox">
                    <input class="commentInput" type="text" name="comment" placeholder="댓글 내용" required />
                    <input class="submitInput" type="submit" value="등록" />
                </div>
            </form>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
